@import url('https://fonts.googleapis.com/css?family=Droid+Sans');

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  /*display: flex;
  flex-direction: column;*/
  font-family: 'Droid Sans', sans-serif;
  /*overflow: hidden;*/
}

/*canvas {
  display: block;
  vertical-align: bottom;
}*/

a {
  text-decoration: none
}


#particles-js, canvas, .particles {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("https://static.pexels.com/photos/416974/pexels-photo-416974.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.filter {
  filter: blur(2px);
  position: fixed;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.homecontain {
  height: 400px;
  width: 600px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  /*display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;*/
  font-size: 40px;
  text-align: center;
  color: white;
  z-index: 1
}

.threebars {
  top: 0;
  height: 40px;
  width: 40px;
  float: right;
  margin-right: 4%;
  margin-top: 2%;
  padding: 20px;
  /*border-radius: 60px;*/
  border: 1px solid black;
  position: relative;
  z-index: 1
}

.xx {
  top: 0;
  height: 40px;
  width: 40px;
  float: right;
  margin-right: 4%;
  margin-top: 2%;
  padding: 20px;
  border: 1px solid black;
  position: relative;
  z-index: 4;
  display: none
}

.xx:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, .3)
}

.threebars:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, .3)
}


.nothercontain {
  height: 100%!important;
  width: 50vw;
  right: 0;
  float: right;
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: rgba(232, 126, 4, 0.8);
  display: none;
}

.flexcontain {
  display: flex;
  flex-direction: column
}

.navmenu {
  margin-left: 4%;
  display: none;
  text-align: left;
}

.categories {
  font-size: 18px;
  color: black;
  text-align: left;
  margin-left: 4%
}


.subtopic {
  margin-left: 5%;
  margin-bottom: -1%;
  color: black;
  font-size: 16px;
  display: none;
  cursor: pointer;
}

#gis:hover, #journalism:hover, #web:hover, #home:hover {
  color: white
}

.tog {
  display: none;
}

#topic {
  font-size: 20px
}

.story {
  height: 200px;
  margin: 0 auto;
  border: 2px solid black;
}

.story:hover{
  border: 2px solid rgba(232, 126, 4, 0.8)
}

.story:hover {
  cursor: pointer;
}

.download {
  color: white;
  padding: 3%;
  background-color: rgba(33, 198, 69, 0.8);
  text-decoration: none;
  width: 30%;
  border: 2px solid black;
  margin: 0 auto
}


.proj a {
  text-decoration: none
}

/* Push */
@-webkit-keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.hvr-push {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-push:hover, .hvr-push:focus, .hvr-push:active {
  -webkit-animation-name: hvr-push;
  animation-name: hvr-push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}



/* Underline From Right */
/*source; https://github.com/IanLunn/Hover/blob/master/css/hover.css */
.hvr-underline-from-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 100%;
  right: 0;
  bottom: 0;
  background: black;
  height: 2px;
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-right:hover:before, .hvr-underline-from-right:focus:before, .hvr-underline-from-right:active:before {
  left: 0;
}

.ga {
  min-height: 90%;
  width: 70%;
  padding: 2%;
  border: 2px solid black;
  top: 2%;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  visibility: hidden;
  text-align: center;
  font-size: 23px;
  color: white;
  background-color: rgba(117, 120, 113, 0.4);
  /*overflow-y: auto*/
}

.journalism {
  min-height: 90%;
  width: 70%;
  padding: 2%;
  border: 2px solid black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  display: none;
  text-align: center;
  font-size: 23px;
  color: white;
  background-color: rgba(117, 120, 113, 0.4);
  overflow-y: auto
}

.aboutme {
  min-height: 90%;
  width: 70%;
  padding: 2%;
  border: 2px solid black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  display: none;
  text-align: center;
  font-size: 23px;
  color: white;
  background-color: rgba(117, 120, 113, 0.4);
  overflow-y: auto
}

.logos {
  display: flex;
  flex-direction: row;
  margin-left: 4%;
}

.logo {
  height: 50px;
  padding: 3%;
  top: 50;
  bottom: 0;
  left: 0;
  right: 0;
  /*position: absolute;*/
  margin-right: 20px;
  border-radius: 2px;
  border: 2px solid black
}


.logo:hover {
  background-color: rgba(255, 255, 255, .3);
  cursor: pointer
}

.me {
  height: 160px;
  border: 2px solid black;
}

.journalism a {
  text-decoration: underline;
  color: white
}

.aboutme a {
  text-decoration: underline;
  color: white
}

#bigtopic:hover, #home:hover, #about:hover, #aboutme:hover {
  cursor: pointer;
  color: white;
}

.welcome {
  display: none
}

.gis {
  min-height: 90%;
  width: 60%;
  padding: 2%;
  border: 2px solid black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  display: none;
  text-align: center;
  font-size: 23px;
  color: white;
  background-color: rgba(117, 120, 113, 0.4);
  overflow-y: auto

}

.gis img {
  height: 300px;
  border: 2px solid black;
}


.ga a {
  color: white
}

a {
  text-decoration: underline;
}

.gif {
  height: 250px;
  margin: 0 auto;
  border: 2px solid black
}


.proj {
  font-size: 34px
}

.copyright {
  margin-left: 4%;
  padding-left: 2%;
  position: absolute;
  bottom: 0;
  left: 0
}

@media only screen and (max-width: 700px) {
  .homecontain {
    width: 300px
  }
  .copyright{
    display: none
  }
  .tog {
    position: fixed
  }
}

@media only screen and (max-width: 668px) {
  .ga, .journalism, .gis, .aboutme {
    height: 50%;
    width: 90%
  }
}
